.close{
    width: 20px;
    height: 20px;
    transition: all .3s;
    position: relative;
    cursor: pointer;
}
.close__one,.close__two{
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    height: 3px;
    background-color: brown;
}
.close__one{
    transform: translateY(-50%) rotate(45deg);
}
.close__two{
    transform: translateY(-50%) rotate(-45deg);
}
.close:hover{
    transform: rotate(90deg);
}