.footer{
    width: 100%;
    display: block;
    background-color: #222;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy{
    text-align: center;
    color: #fff;
}